<div class="side-bar-panel bg-light vh-100 p-3 border-end">
  <h5 class="text-center">Menú</h5>
  <ul class="nav flex-column mt-4">
    <li class="nav-item">
      <app-side-bar-item label="Usuarios" icon="bi bi-people" route="/usuarios"></app-side-bar-item>
    </li>
    <li class="nav-item">
      <app-side-bar-item label="Productos" icon="bi bi-box" route="/productos"></app-side-bar-item>
    </li>
    <li class="nav-item">
      <app-side-bar-item label="Pedidos" icon="bi bi-cart" route="/pedidos"></app-side-bar-item>
    </li>
  </ul>
</div>
